# Set

## use "in" to check if element belongs to Set

In [1]:
my_set = {2, 3, 4}

In [2]:
2 in my_set

True

In [3]:
4 not in my_set

False

## Unions, Intersections, Complements and Symmetric difference

In [4]:
my_set = {2, 3, 4}
my_set2 = {2, 4, 6}

In [5]:
my_set | my_set2 # or

{2, 3, 4, 6}

In [6]:
my_set & my_set2 # and

{2, 4}

In [7]:
my_set - my_set2 # 差集 my-set - (my_set & my_set2)

{3}

In [8]:
my_set ^ my_set2 # NAND

{3, 6}

# Dictionary

In [9]:
my_dic = {
    "Name": "Raymond", 
    "age": 18
    }

In [10]:
my_dic["Name"]

'Raymond'

In [11]:
my_dic["Name"] = "Jack"

In [12]:
my_dic

{'Name': 'Jack', 'age': 18}

In [13]:
"Name" in my_dic # check keys

True

# Use "del" to delete

In [14]:
my_dic

{'Name': 'Jack', 'age': 18}

In [15]:
del my_dic["age"]

In [16]:
my_dic

{'Name': 'Jack'}

# Add

In [17]:
my_dic["age"] = 25

In [18]:
my_dic

{'Name': 'Jack', 'age': 25}

In [19]:
my_dic["age"] = 52

In [20]:
my_dic

{'Name': 'Jack', 'age': 52}